$blue1: #76b4db;
$blue2: #2e9fda;
$blue3: #488db5;
$pink1: #efa8ca;
$pink2: #d999b6;
$pink3: #b28498;
$pink4: #e05da2;
$pink5: #b45383;
$pink6: #695963;
$grey1: #d5dde0;
$grey2: #bac2c9;
$green1: #c9d79a;
$green2: #b2bb7e;
$moss: #c1e1dc;
$yellow: #f4ed85;
$white: #fbfbfb;
$black: #2b2729;

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.unikitty {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d( -50%, -50%, 0 );
  width: 45vmin;
  height: 59vmin;
  background-color: lightyellow;

  &::before {
    content: '';
    display: block;
    width: 1vmin;
    height: 1vmin;
    box-shadow:
      32vmin 0vmin $blue1,
      32vmin 1vmin $blue1,
      32vmin 2vmin $blue1,
      33vmin 2vmin $blue1,
      32vmin 3vmin $blue1,
      33vmin 3vmin $blue1,
      32vmin 3vmin $blue1,
      31vmin 4vmin $blue1,
      32vmin 4vmin $blue1,
      33vmin 4vmin $blue2,
      31vmin 5vmin $blue1,
      32vmin 5vmin $blue1,
      33vmin 5vmin $blue2,
      31vmin 6vmin $blue2,
      32vmin 6vmin $blue1,
      33vmin 6vmin $blue2,
      31vmin 7vmin $blue2,
      32vmin 7vmin $blue1,
      33vmin 7vmin $blue2,
      34vmin 7vmin $blue3,
      30vmin 8vmin $blue1,
      31vmin 8vmin $blue2,
      32vmin 8vmin $blue1,
      33vmin 8vmin $blue3,
      33vmin 8vmin $blue3,
      34vmin 8vmin $blue3,
      30vmin 9vmin $blue1,
      31vmin 9vmin $blue3,
      32vmin 9vmin $blue1,
      33vmin 9vmin $blue3,
      33vmin 9vmin $blue3,
      34vmin 9vmin $blue3,
      30vmin 10vmin $blue1,
      31vmin 10vmin $blue3,
      32vmin 10vmin $blue2,
      33vmin 10vmin $blue3,
      33vmin 10vmin $blue3,
      34vmin 10vmin $blue3,
      44vmin 10vmin $pink5,

      18vmin 11vmin $pink5, /* both ears start */
      19vmin 11vmin $pink5,
      20vmin 11vmin $pink5,
      30vmin 11vmin $blue2,
      31vmin 11vmin $blue3,
      32vmin 11vmin $blue2,
      33vmin 11vmin $blue3,
      33vmin 11vmin $blue3,
      34vmin 11vmin $blue3,
      42vmin 11vmin $pink5,
      43vmin 11vmin $pink5,
      44vmin 11vmin $pink5,
      18vmin 12vmin $pink5,
      19vmin 12vmin $pink4,
      20vmin 12vmin $pink4,
      21vmin 12vmin $pink5,
      22vmin 12vmin $pink5,
      30vmin 12vmin $grey1,
      31vmin 12vmin $grey1,
      32vmin 12vmin $grey2,
      33vmin 12vmin $grey2,
      33vmin 12vmin $grey2,
      34vmin 12vmin $grey2,
      40vmin 12vmin $pink5,
      41vmin 12vmin $pink5,
      42vmin 12vmin $pink5,
      43vmin 12vmin $pink4,
      44vmin 12vmin $pink4,
      18vmin 13vmin $pink5,
      19vmin 13vmin $pink4,
      20vmin 13vmin $pink4,
      21vmin 13vmin $pink4,
      22vmin 13vmin $pink4,
      23vmin 13vmin $pink5,
      24vmin 13vmin $pink5,
      29vmin 13vmin $grey1,
      30vmin 13vmin $grey1,
      31vmin 13vmin $white,
      32vmin 13vmin $white,
      33vmin 13vmin $grey1,
      34vmin 13vmin $grey1,
      38vmin 13vmin $pink5,
      39vmin 13vmin $pink5,
      40vmin 13vmin $pink5,
      41vmin 13vmin $pink4,
      42vmin 13vmin $pink4,
      43vmin 13vmin $pink4,
      44vmin 13vmin $pink4,
      18vmin 14vmin $pink5,
      19vmin 14vmin $pink4,
      20vmin 14vmin $pink4,
      21vmin 14vmin $pink4,
      22vmin 14vmin $pink4,
      23vmin 14vmin $pink4,
      24vmin 14vmin $pink4,
      25vmin 14vmin $pink5,
      26vmin 14vmin $pink5,
      28vmin 14vmin $grey1,
      29vmin 14vmin $grey1,
      30vmin 14vmin $grey1,
      31vmin 14vmin $grey1,
      32vmin 14vmin $grey1,
      33vmin 14vmin $grey1,
      34vmin 14vmin $grey1,
      35vmin 14vmin $grey1,
      37vmin 14vmin $pink5,
      38vmin 14vmin $pink5,
      39vmin 14vmin $pink4,
      40vmin 14vmin $pink4,
      41vmin 14vmin $pink4,
      42vmin 14vmin $pink4,
      43vmin 14vmin $pink4,
      44vmin 14vmin $pink4,
      18vmin 15vmin $pink5,
      19vmin 15vmin $pink4,
      20vmin 15vmin $pink4,
      21vmin 15vmin $pink4,
      22vmin 15vmin $pink4,
      23vmin 15vmin $pink4,
      24vmin 15vmin $pink4,
      25vmin 15vmin $pink4,
      26vmin 15vmin $pink4,
      27vmin 15vmin $pink5,
      29vmin 15vmin $grey1,
      30vmin 15vmin $grey1,
      31vmin 15vmin $white,
      32vmin 15vmin $white,
      33vmin 15vmin $grey1,
      34vmin 15vmin $grey1,
      36vmin 15vmin $pink5,
      37vmin 15vmin $pink4,
      38vmin 15vmin $pink4,
      39vmin 15vmin $pink4,
      40vmin 15vmin $pink4,
      41vmin 15vmin $pink4,
      42vmin 15vmin $pink4,
      43vmin 15vmin $pink4,
      44vmin 15vmin $pink4,

      18vmin 16vmin $pink5, /* 2nd last row of ears/horn start */
      19vmin 16vmin $pink4,
      20vmin 16vmin $pink4,
      21vmin 16vmin $pink4,
      22vmin 16vmin $pink4,
      23vmin 16vmin $pink4,
      24vmin 16vmin $pink4,
      25vmin 16vmin $pink4,
      26vmin 16vmin $pink4,
      27vmin 16vmin $pink4,
      29vmin 16vmin $grey1,
      30vmin 16vmin $white,
      31vmin 16vmin $white,
      32vmin 16vmin $white,
      33vmin 16vmin $grey1,
      34vmin 16vmin $grey1,
      36vmin 16vmin $pink4,
      37vmin 16vmin $pink4,
      38vmin 16vmin $pink4,
      39vmin 16vmin $pink4,
      40vmin 16vmin $pink4,
      41vmin 16vmin $pink4,
      42vmin 16vmin $pink4,
      43vmin 16vmin $pink4,
      44vmin 16vmin $pink4,
      18vmin 17vmin $pink5,
      19vmin 17vmin $pink5,
      20vmin 17vmin $pink5,
      21vmin 17vmin $pink5,
      22vmin 17vmin $pink5,
      23vmin 17vmin $pink5,
      24vmin 17vmin $pink5,
      25vmin 17vmin $pink5,
      26vmin 17vmin $pink5,
      27vmin 17vmin $pink5,
      28vmin 17vmin $pink3,
      29vmin 17vmin $grey1,
      30vmin 17vmin $white,
      31vmin 17vmin $white,
      32vmin 17vmin $white,
      33vmin 17vmin $grey1,
      34vmin 17vmin $grey1,
      35vmin 17vmin $pink3,
      36vmin 17vmin $pink5,
      37vmin 17vmin $pink5,
      38vmin 17vmin $pink5,
      39vmin 17vmin $pink5,
      40vmin 17vmin $pink5,
      41vmin 17vmin $pink5,
      42vmin 17vmin $pink5,
      43vmin 17vmin $pink5,
      44vmin 17vmin $pink5,

      18vmin 18vmin $pink2, /* start of head */
      19vmin 18vmin $pink1,
      20vmin 18vmin $pink1,
      21vmin 18vmin $pink1,
      22vmin 18vmin $pink1,
      23vmin 18vmin $pink1,
      24vmin 18vmin $pink1,
      25vmin 18vmin $pink1,
      26vmin 18vmin $pink1,
      27vmin 18vmin $pink1,
      28vmin 18vmin $pink1,
      29vmin 18vmin $pink1,
      30vmin 18vmin $pink1,
      31vmin 18vmin $pink1,
      32vmin 18vmin $pink1,
      33vmin 18vmin $pink1,
      34vmin 18vmin $pink1,
      35vmin 18vmin $pink1,
      36vmin 18vmin $pink1,
      37vmin 18vmin $pink1,
      38vmin 18vmin $pink1,
      39vmin 18vmin $pink1,
      40vmin 18vmin $pink1,
      41vmin 18vmin $pink1,
      42vmin 18vmin $pink1,
      43vmin 18vmin $pink1,
      44vmin 18vmin $pink1,
      18vmin 19vmin $pink2,
      19vmin 19vmin $pink1,
      20vmin 19vmin $pink1,
      21vmin 19vmin $pink1,
      22vmin 19vmin $pink1,
      23vmin 19vmin $pink1,
      24vmin 19vmin $pink1,
      25vmin 19vmin $pink1,
      26vmin 19vmin $pink1,
      27vmin 19vmin $pink1,
      28vmin 19vmin $pink1,
      29vmin 19vmin $pink1,
      30vmin 19vmin $pink1,
      31vmin 19vmin $pink1,
      32vmin 19vmin $pink1,
      33vmin 19vmin $pink1,
      34vmin 19vmin $pink1,
      35vmin 19vmin $pink1,
      36vmin 19vmin $pink1,
      37vmin 19vmin $pink1,
      38vmin 19vmin $pink1,
      39vmin 19vmin $pink1,
      40vmin 19vmin $pink1,
      41vmin 19vmin $pink1,
      42vmin 19vmin $pink1,
      43vmin 19vmin $pink1,
      44vmin 19vmin $pink1,

      18vmin 20vmin $pink2, /* start of eyes */
      19vmin 20vmin $pink1,
      20vmin 20vmin $pink1,
      21vmin 20vmin $black,
      22vmin 20vmin $pink1,
      23vmin 20vmin $pink1,
      24vmin 20vmin $pink1,
      25vmin 20vmin $pink1,
      26vmin 20vmin $pink1,
      27vmin 20vmin $pink1,
      28vmin 20vmin $pink1,
      29vmin 20vmin $pink1,
      30vmin 20vmin $pink1,
      31vmin 20vmin $pink1,
      32vmin 20vmin $pink1,
      33vmin 20vmin $pink1,
      34vmin 20vmin $pink1,
      35vmin 20vmin $pink1,
      36vmin 20vmin $pink1,
      37vmin 20vmin $pink1,
      38vmin 20vmin $pink1,
      39vmin 20vmin $pink1,
      40vmin 20vmin $pink1,
      41vmin 20vmin $black,
      42vmin 20vmin $pink1,
      43vmin 20vmin $pink1,
      44vmin 20vmin $pink1,
      18vmin 21vmin $pink2,
      19vmin 21vmin $pink1,
      20vmin 21vmin $pink1,
      21vmin 21vmin $pink2,
      22vmin 21vmin $pink1,
      23vmin 21vmin $pink1,
      24vmin 21vmin $pink1,
      25vmin 21vmin $pink1,
      26vmin 21vmin $pink1,
      27vmin 21vmin $pink1,
      28vmin 21vmin $pink1,
      29vmin 21vmin $pink1,
      30vmin 21vmin $pink1,
      31vmin 21vmin $pink1,
      32vmin 21vmin $pink1,
      33vmin 21vmin $pink1,
      34vmin 21vmin $pink1,
      35vmin 21vmin $pink1,
      36vmin 21vmin $pink1,
      37vmin 21vmin $pink1,
      38vmin 21vmin $pink1,
      39vmin 21vmin $pink1,
      40vmin 21vmin $pink3,
      41vmin 21vmin $pink1,
      42vmin 21vmin $pink2,
      43vmin 21vmin $pink1,
      44vmin 21vmin $pink1,
      18vmin 22vmin $pink2,
      19vmin 22vmin $pink1,
      20vmin 22vmin $pink3,
      21vmin 22vmin $pink2,
      22vmin 22vmin $black,
      23vmin 22vmin $black,
      24vmin 22vmin $black,
      25vmin 22vmin $pink1,
      26vmin 22vmin $pink1,
      27vmin 22vmin $pink1,
      28vmin 22vmin $pink1,
      29vmin 22vmin $pink1,
      30vmin 22vmin $pink1,
      31vmin 22vmin $pink1,
      32vmin 22vmin $pink1,
      33vmin 22vmin $pink1,
      34vmin 22vmin $pink1,
      35vmin 22vmin $pink1,
      36vmin 22vmin $pink1,
      37vmin 22vmin $pink1,
      38vmin 22vmin $black,
      39vmin 22vmin $black,
      40vmin 22vmin $black,
      41vmin 22vmin $pink3,
      42vmin 22vmin $pink1,
      43vmin 22vmin $pink1,
      44vmin 22vmin $pink1,
      18vmin 23vmin $pink2,
      19vmin 23vmin $grey1,
      20vmin 23vmin $black,
      21vmin 23vmin $white,
      22vmin 23vmin $blue1,
      23vmin 23vmin $black,
      24vmin 23vmin $black,
      25vmin 23vmin $black,
      26vmin 23vmin $black,
      27vmin 23vmin $pink1,
      28vmin 23vmin $pink1,
      29vmin 23vmin $pink1,
      30vmin 23vmin $pink1,
      31vmin 23vmin $pink1,
      32vmin 23vmin $pink1,
      33vmin 23vmin $pink1,
      34vmin 23vmin $pink1,
      35vmin 23vmin $pink1,
      36vmin 23vmin $black,
      37vmin 23vmin $black,
      38vmin 23vmin $black,
      39vmin 23vmin $black,
      40vmin 23vmin $blue3,
      41vmin 23vmin $blue3,
      42vmin 23vmin $black,
      43vmin 23vmin $pink3,
      44vmin 23vmin $pink1,
      18vmin 24vmin $pink2,
      19vmin 24vmin $black,
      20vmin 24vmin $white,
      21vmin 24vmin $blue1,
      22vmin 24vmin $white,
      23vmin 24vmin $white,
      24vmin 24vmin $black,
      25vmin 24vmin $black,
      26vmin 24vmin $black,
      27vmin 24vmin $pink6,
      28vmin 24vmin $pink1,
      29vmin 24vmin $pink1,
      30vmin 24vmin $pink1,
      31vmin 24vmin $pink1,
      32vmin 24vmin $pink1,
      33vmin 24vmin $pink1,
      34vmin 24vmin $pink1,
      35vmin 24vmin $pink3,
      36vmin 24vmin $white,
      37vmin 24vmin $white,
      38vmin 24vmin $black,
      39vmin 24vmin $black,
      40vmin 24vmin $black,
      41vmin 24vmin $blue1,
      42vmin 24vmin $blue1,
      43vmin 24vmin $black,
      44vmin 24vmin $pink1,

      18vmin 25vmin $pink2, /* white part of face starts */
      19vmin 25vmin $white,
      20vmin 25vmin $blue1,
      21vmin 25vmin $black,
      22vmin 25vmin $white,
      23vmin 25vmin $white,
      24vmin 25vmin $black,
      25vmin 25vmin $black,
      26vmin 25vmin $black,
      27vmin 25vmin $pink6,
      28vmin 25vmin $white,
      29vmin 25vmin $white,
      30vmin 25vmin $white,
      31vmin 25vmin $white,
      32vmin 25vmin $white,
      33vmin 25vmin $white,
      34vmin 25vmin $white,
      35vmin 25vmin $black,
      36vmin 25vmin $white,
      37vmin 25vmin $white,
      38vmin 25vmin $black,
      39vmin 25vmin $black,
      40vmin 25vmin $black,
      41vmin 25vmin $black,
      42vmin 25vmin $blue1,
      43vmin 25vmin $white,
      44vmin 25vmin $pink1,
      18vmin 26vmin $pink2,
      19vmin 26vmin $white,
      20vmin 26vmin $blue1,
      21vmin 26vmin $black,
      22vmin 26vmin $black,
      23vmin 26vmin $black,
      24vmin 26vmin $black,
      25vmin 26vmin $black,
      26vmin 26vmin $black,
      27vmin 26vmin $pink6,
      28vmin 26vmin $white,
      29vmin 26vmin $white,
      30vmin 26vmin $pink5,
      31vmin 26vmin $pink5,
      32vmin 26vmin $pink5,
      33vmin 26vmin $white,
      34vmin 26vmin $white,
      35vmin 26vmin $black,
      36vmin 26vmin $black,
      37vmin 26vmin $black,
      38vmin 26vmin $black,
      39vmin 26vmin $black,
      40vmin 26vmin $black,
      41vmin 26vmin $black,
      42vmin 26vmin $blue1,
      43vmin 26vmin $white,
      44vmin 26vmin $pink1,
      18vmin 27vmin $pink2,
      19vmin 27vmin $white,
      20vmin 27vmin $blue1,
      21vmin 27vmin $black,
      22vmin 27vmin $black,
      23vmin 27vmin $black,
      24vmin 27vmin $black,
      25vmin 27vmin $black,
      26vmin 27vmin $black,
      27vmin 27vmin $black,
      28vmin 27vmin $white,
      29vmin 27vmin $white,
      30vmin 27vmin $pink5,
      31vmin 27vmin $pink5,
      32vmin 27vmin $pink6,
      33vmin 27vmin $white,
      34vmin 27vmin $white,
      35vmin 27vmin $black,
      36vmin 27vmin $black,
      37vmin 27vmin $black,
      38vmin 27vmin $black,
      39vmin 27vmin $black,
      40vmin 27vmin $black,
      41vmin 27vmin $black,
      42vmin 27vmin $blue1,
      43vmin 27vmin $white,
      44vmin 27vmin $pink1,
      18vmin 28vmin $pink2,
      19vmin 28vmin $white,
      20vmin 28vmin $blue1,
      21vmin 28vmin $blue1,
      22vmin 28vmin $black,
      23vmin 28vmin $black,
      24vmin 28vmin $black,
      25vmin 28vmin $black,
      26vmin 28vmin $blue3,
      27vmin 28vmin $blue3,
      28vmin 28vmin $white,
      29vmin 28vmin $white,
      30vmin 28vmin $white,
      31vmin 28vmin $white,
      32vmin 28vmin $white,
      33vmin 28vmin $white,
      34vmin 28vmin $white,
      35vmin 28vmin $blue1,
      36vmin 28vmin $black,
      37vmin 28vmin $black,
      38vmin 28vmin $black,
      39vmin 28vmin $black,
      40vmin 28vmin $black,
      41vmin 28vmin $blue1,
      42vmin 28vmin $blue1,
      43vmin 28vmin $white,
      44vmin 28vmin $pink1,
      18vmin 29vmin $pink2,
      19vmin 29vmin $white,
      20vmin 29vmin $white,
      21vmin 29vmin $blue1,
      22vmin 29vmin $blue1,
      23vmin 29vmin $black,
      24vmin 29vmin $black,
      25vmin 29vmin $black,
      26vmin 29vmin $blue1,
      27vmin 29vmin $white,
      28vmin 29vmin $white,
      29vmin 29vmin $pink6,
      30vmin 29vmin $pink6,
      31vmin 29vmin $pink6,
      32vmin 29vmin $pink6,
      33vmin 29vmin $pink6,
      34vmin 29vmin $white,
      35vmin 29vmin $white,
      36vmin 29vmin $blue3,
      37vmin 29vmin $black,
      38vmin 29vmin $black,
      39vmin 29vmin $black,
      40vmin 29vmin $black,
      41vmin 29vmin $blue1,
      42vmin 29vmin $white,
      43vmin 29vmin $white,
      44vmin 29vmin $pink1,

      18vmin 30vmin $grey1, /* cheeks start */
      19vmin 30vmin $pink5,
      20vmin 30vmin $pink5,
      21vmin 30vmin $white,
      22vmin 30vmin $blue1,
      23vmin 30vmin $blue1,
      24vmin 30vmin $blue1,
      25vmin 30vmin $blue1,
      26vmin 30vmin $white,
      27vmin 30vmin $white,
      28vmin 30vmin $white,
      29vmin 30vmin $pink3,
      30vmin 30vmin $pink6,
      31vmin 30vmin $pink6,
      32vmin 30vmin $pink6,
      33vmin 30vmin $pink3,
      34vmin 30vmin $white,
      35vmin 30vmin $white,
      36vmin 30vmin $white,
      37vmin 30vmin $blue3,
      38vmin 30vmin $blue3,
      39vmin 30vmin $blue3,
      40vmin 30vmin $blue3,
      41vmin 30vmin $white,
      42vmin 30vmin $pink5,
      43vmin 30vmin $pink5,
      44vmin 30vmin $grey1,
      18vmin 31vmin $grey1,
      19vmin 31vmin $pink5,
      20vmin 31vmin $pink5,
      21vmin 31vmin $white,
      22vmin 31vmin $white,
      23vmin 31vmin $white,
      24vmin 31vmin $white,
      25vmin 31vmin $white,
      26vmin 31vmin $white,
      27vmin 31vmin $white,
      28vmin 31vmin $white,
      29vmin 31vmin $white,
      30vmin 31vmin $pink5,
      32vmin 31vmin $pink5,
      31vmin 31vmin $pink5,
      33vmin 31vmin $white,
      34vmin 31vmin $white,
      35vmin 31vmin $white,
      36vmin 31vmin $white,
      37vmin 31vmin $white,
      38vmin 31vmin $white,
      39vmin 31vmin $white,
      40vmin 31vmin $white,
      41vmin 31vmin $white,
      42vmin 31vmin $pink5,
      43vmin 31vmin $pink5,
      44vmin 31vmin $grey1,

      7vmin 32vmin $grey2,  /* tail start */
      8vmin 32vmin $grey2,
      9vmin 32vmin $grey2,
      10vmin 32vmin $grey2,
      11vmin 32vmin $grey2,
      12vmin 32vmin $grey2,
      13vmin 32vmin $grey2,
      18vmin 32vmin $grey1,
      19vmin 32vmin $white,
      20vmin 32vmin $white,
      21vmin 32vmin $white,
      22vmin 32vmin $white,
      23vmin 32vmin $white,
      24vmin 32vmin $white,
      25vmin 32vmin $white,
      26vmin 32vmin $white,
      27vmin 32vmin $white,
      28vmin 32vmin $white,
      29vmin 32vmin $white,
      30vmin 32vmin $white,
      32vmin 32vmin $white,
      31vmin 32vmin $white,
      33vmin 32vmin $white,
      34vmin 32vmin $white,
      35vmin 32vmin $white,
      36vmin 32vmin $white,
      37vmin 32vmin $white,
      38vmin 32vmin $white,
      39vmin 32vmin $white,
      40vmin 32vmin $white,
      41vmin 32vmin $white,
      42vmin 32vmin $white,
      43vmin 32vmin $white,
      44vmin 32vmin $grey1,
      5vmin 33vmin $grey2,
      6vmin 33vmin $grey2,
      7vmin 33vmin $grey1,
      8vmin 33vmin $grey1,
      9vmin 33vmin $grey1,
      10vmin 33vmin $grey1,
      11vmin 33vmin $grey1,
      12vmin 33vmin $grey1,
      13vmin 33vmin $grey2,
      14vmin 33vmin $grey2,
      15vmin 33vmin $grey2,
      16vmin 33vmin $grey2,
      18vmin 33vmin $grey1,
      19vmin 33vmin $white,
      20vmin 33vmin $white,
      21vmin 33vmin $white,
      22vmin 33vmin $white,
      23vmin 33vmin $white,
      24vmin 33vmin $white,
      25vmin 33vmin $white,
      26vmin 33vmin $white,
      27vmin 33vmin $white,
      28vmin 33vmin $white,
      29vmin 33vmin $white,
      30vmin 33vmin $white,
      32vmin 33vmin $white,
      31vmin 33vmin $white,
      33vmin 33vmin $white,
      34vmin 33vmin $white,
      35vmin 33vmin $white,
      36vmin 33vmin $white,
      37vmin 33vmin $white,
      38vmin 33vmin $white,
      39vmin 33vmin $white,
      40vmin 33vmin $white,
      41vmin 33vmin $white,
      42vmin 33vmin $white,
      43vmin 33vmin $white,
      44vmin 33vmin $grey1,
      4vmin 34vmin $grey1,
      5vmin 34vmin $grey1,
      6vmin 34vmin $grey1,
      7vmin 34vmin $white,
      8vmin 34vmin $white,
      9vmin 34vmin $white,
      10vmin 34vmin $white,
      10vmin 34vmin $white,
      11vmin 34vmin $white,
      12vmin 34vmin $white,
      13vmin 34vmin $grey1,
      14vmin 34vmin $grey1,
      15vmin 34vmin $grey1,
      16vmin 34vmin $grey2,
      18vmin 34vmin $grey1,
      19vmin 34vmin $white,
      20vmin 34vmin $white,
      21vmin 34vmin $white,
      22vmin 34vmin $white,
      23vmin 34vmin $white,
      24vmin 34vmin $white,
      25vmin 34vmin $white,
      26vmin 34vmin $white,
      27vmin 34vmin $white,
      28vmin 34vmin $white,
      29vmin 34vmin $white,
      30vmin 34vmin $white,
      32vmin 34vmin $white,
      31vmin 34vmin $white,
      33vmin 34vmin $white,
      34vmin 34vmin $white,
      35vmin 34vmin $white,
      36vmin 34vmin $white,
      37vmin 34vmin $white,
      38vmin 34vmin $white,
      39vmin 34vmin $white,
      40vmin 34vmin $white,
      41vmin 34vmin $white,
      42vmin 34vmin $white,
      43vmin 34vmin $white,
      44vmin 34vmin $grey1,

      3vmin 35vmin $grey1, /* last row of head starts */
      4vmin 35vmin $grey1,
      5vmin 35vmin $white,
      6vmin 35vmin $white,
      7vmin 35vmin $blue2,
      8vmin 35vmin $blue2,
      9vmin 35vmin $blue2,
      10vmin 35vmin $blue2,
      10vmin 35vmin $blue2,
      11vmin 35vmin $blue2,
      12vmin 35vmin $blue2,
      13vmin 35vmin $blue2,
      14vmin 35vmin $grey1,
      15vmin 35vmin $grey1,
      16vmin 35vmin $grey1,
      17vmin 35vmin $grey2,
      18vmin 35vmin $grey1,
      19vmin 35vmin $grey1,
      20vmin 35vmin $grey1,
      21vmin 35vmin $grey1,
      22vmin 35vmin $grey1,
      23vmin 35vmin $grey1,
      24vmin 35vmin $grey1,
      25vmin 35vmin $grey1,
      26vmin 35vmin $grey1,
      27vmin 35vmin $grey2,
      28vmin 35vmin $grey2,
      29vmin 35vmin $grey2,
      30vmin 35vmin $grey2,
      32vmin 35vmin $grey2,
      31vmin 35vmin $grey2,
      33vmin 35vmin $grey2,
      34vmin 35vmin $grey2,
      35vmin 35vmin $grey2,
      36vmin 35vmin $grey1,
      37vmin 35vmin $grey1,
      38vmin 35vmin $grey2,
      39vmin 35vmin $grey2,
      40vmin 35vmin $grey2,
      41vmin 35vmin $grey2,
      42vmin 35vmin $grey1,
      43vmin 35vmin $grey1,
      44vmin 35vmin $grey1,
      2vmin 36vmin $grey2,
      3vmin 36vmin $grey1,
      4vmin 36vmin $white,
      5vmin 36vmin $blue2,
      6vmin 36vmin $blue2,
      7vmin 36vmin $blue2,
      8vmin 36vmin $blue2,
      9vmin 36vmin $blue2,
      10vmin 36vmin $blue2,
      10vmin 36vmin $blue2,
      11vmin 36vmin $blue2,
      12vmin 36vmin $blue2,
      13vmin 36vmin $blue2,
      14vmin 36vmin $blue2,
      15vmin 36vmin $grey1,
      16vmin 36vmin $grey1,
      17vmin 36vmin $grey2,
      28vmin 36vmin $green2,
      29vmin 36vmin $green2,
      30vmin 36vmin $green2,
      32vmin 36vmin $green1,
      31vmin 36vmin $green1,
      33vmin 36vmin $green1,
      34vmin 36vmin $green2,
      35vmin 36vmin $green2,
      2vmin 37vmin $grey2,
      3vmin 37vmin $grey1,
      4vmin 37vmin $blue2,
      5vmin 37vmin $blue2,
      6vmin 37vmin $blue2,
      7vmin 37vmin $blue2,
      8vmin 37vmin $blue2,
      9vmin 37vmin $blue2,
      10vmin 37vmin $blue2,
      10vmin 37vmin $blue2,
      11vmin 37vmin $blue2,
      12vmin 37vmin $blue2,
      13vmin 37vmin $blue2,
      14vmin 37vmin $blue2,
      15vmin 37vmin $blue2,
      16vmin 37vmin $grey1,
      17vmin 37vmin $grey2,
      18vmin 37vmin $grey2,
      21vmin 37vmin $pink5,
      22vmin 37vmin $pink2,
      23vmin 37vmin $pink1,
      24vmin 37vmin $pink1,
      25vmin 37vmin $pink5,
      29vmin 37vmin $green2,
      30vmin 37vmin $green1,
      32vmin 37vmin $green1,
      31vmin 37vmin $green1,
      33vmin 37vmin $green1,
      34vmin 37vmin $green2,
      1vmin 38vmin $grey2,
      2vmin 38vmin $grey1,
      3vmin 38vmin $white,
      4vmin 38vmin $blue2,
      5vmin 38vmin $blue2,
      6vmin 38vmin $blue2,
      7vmin 38vmin $blue2,
      8vmin 38vmin $blue2,
      9vmin 38vmin $grey2,
      11vmin 38vmin $blue3,
      12vmin 38vmin $blue2,
      13vmin 38vmin $blue2,
      14vmin 38vmin $blue2,
      15vmin 38vmin $blue2,
      16vmin 38vmin $white,
      17vmin 38vmin $grey1,
      18vmin 38vmin $grey2,
      21vmin 38vmin $pink5,
      22vmin 38vmin $pink2,
      23vmin 38vmin $pink2,
      24vmin 38vmin $pink2,
      25vmin 38vmin $pink5,
      29vmin 38vmin $green2,
      30vmin 38vmin $green1,
      32vmin 38vmin $green1,
      31vmin 38vmin $green1,
      33vmin 38vmin $green1,
      34vmin 38vmin $green2,

      1vmin 39vmin $grey2, /* body starts */
      2vmin 39vmin $white,
      3vmin 39vmin $blue2,
      4vmin 39vmin $blue2,
      5vmin 39vmin $blue2,
      6vmin 39vmin $blue2,
      7vmin 39vmin $blue2,
      8vmin 39vmin $blue2,
      9vmin 39vmin $pink3,
      10vmin 39vmin $pink1,
      11vmin 39vmin $pink1,
      12vmin 39vmin $pink1,
      13vmin 39vmin $pink1,
      14vmin 39vmin $pink1,
      15vmin 39vmin $pink1,
      16vmin 39vmin $pink1,
      17vmin 39vmin $pink1,
      18vmin 39vmin $pink1,
      19vmin 39vmin $pink1,
      20vmin 39vmin $pink1,
      21vmin 39vmin $pink1,
      22vmin 39vmin $pink1,
      23vmin 39vmin $pink1,
      24vmin 39vmin $pink1,
      25vmin 39vmin $pink1,
      26vmin 39vmin $pink1,
      27vmin 39vmin $pink1,
      28vmin 39vmin $pink1,
      29vmin 39vmin $pink1,
      30vmin 39vmin $pink1,
      32vmin 39vmin $pink1,
      31vmin 39vmin $pink1,
      33vmin 39vmin $pink1,
      34vmin 39vmin $pink1,
      35vmin 39vmin $pink1,
      1vmin 40vmin $grey2,
      2vmin 40vmin $white,
      3vmin 40vmin $blue2,
      4vmin 40vmin $blue2,
      5vmin 40vmin $blue2,
      6vmin 40vmin $blue2,
      7vmin 40vmin $blue2,
      8vmin 40vmin $blue2,
      9vmin 40vmin $pink3,
      10vmin 40vmin $pink1,
      11vmin 40vmin $pink1,
      12vmin 40vmin $pink1,
      13vmin 40vmin $pink1,
      14vmin 40vmin $pink1,
      15vmin 40vmin $pink1,
      16vmin 40vmin $pink1,
      17vmin 40vmin $pink1,
      18vmin 40vmin $pink1,
      19vmin 40vmin $pink1,
      20vmin 40vmin $pink1,
      21vmin 40vmin $pink1,
      22vmin 40vmin $pink1,
      23vmin 40vmin $pink1,
      24vmin 40vmin $pink1,
      25vmin 40vmin $pink1,
      26vmin 40vmin $pink1,
      27vmin 40vmin $pink1,
      28vmin 40vmin $pink1,
      29vmin 40vmin $pink1,
      30vmin 40vmin $pink1,
      32vmin 40vmin $pink1,
      31vmin 40vmin $pink1,
      33vmin 40vmin $pink1,
      34vmin 40vmin $pink1,
      35vmin 40vmin $pink1,
      1vmin 41vmin $grey2,
      2vmin 41vmin $blue2,
      3vmin 41vmin $blue2,
      4vmin 41vmin $blue2,
      5vmin 41vmin $blue2,
      6vmin 41vmin $blue2,
      7vmin 41vmin $blue2,
      8vmin 41vmin $blue2,
      9vmin 41vmin $pink3,
      10vmin 41vmin $pink1,
      11vmin 41vmin $pink1,
      12vmin 41vmin $pink1,
      13vmin 41vmin $pink1,
      14vmin 41vmin $pink1,
      15vmin 41vmin $pink1,
      16vmin 41vmin $pink1,
      17vmin 41vmin $pink1,
      18vmin 41vmin $pink1,
      19vmin 41vmin $pink1,
      20vmin 41vmin $pink1,
      21vmin 41vmin $pink1,
      22vmin 41vmin $pink1,
      23vmin 41vmin $pink1,
      24vmin 41vmin $pink1,
      25vmin 41vmin $pink1,
      26vmin 41vmin $pink1,
      27vmin 41vmin $pink1,
      28vmin 41vmin $pink1,
      29vmin 41vmin $pink1,
      30vmin 41vmin $pink1,
      32vmin 41vmin $pink1,
      31vmin 41vmin $pink1,
      33vmin 41vmin $pink1,
      34vmin 41vmin $pink1,
      35vmin 41vmin $pink1,
      2vmin 42vmin $grey1,
      3vmin 42vmin $blue2,
      4vmin 42vmin $blue2,
      5vmin 42vmin $blue2,
      6vmin 42vmin $blue2,
      7vmin 42vmin $blue2,
      8vmin 42vmin $blue2,
      9vmin 42vmin $pink3,
      10vmin 42vmin $pink1,
      11vmin 42vmin $pink1,
      12vmin 42vmin $pink1,
      13vmin 42vmin $pink1,
      14vmin 42vmin $pink1,
      15vmin 42vmin $pink1,
      16vmin 42vmin $pink1,
      17vmin 42vmin $pink1,
      18vmin 42vmin $pink1,
      19vmin 42vmin $pink1,
      20vmin 42vmin $pink1,
      21vmin 42vmin $pink1,
      22vmin 42vmin $pink1,
      23vmin 42vmin $pink1,
      24vmin 42vmin $pink1,
      25vmin 42vmin $pink1,
      26vmin 42vmin $pink1,
      27vmin 42vmin $pink1,
      28vmin 42vmin $pink1,
      29vmin 42vmin $pink1,
      30vmin 42vmin $pink1,
      32vmin 42vmin $pink1,
      31vmin 42vmin $pink1,
      33vmin 42vmin $pink1,
      34vmin 42vmin $pink1,
      35vmin 42vmin $pink1,

      2vmin 43vmin $grey1, /* legs start to appear here */
      3vmin 43vmin $blue2,
      4vmin 43vmin $blue2,
      5vmin 43vmin $blue2,
      6vmin 43vmin $blue2,
      7vmin 43vmin $blue2,
      8vmin 43vmin $blue2,
      9vmin 43vmin $pink3,
      10vmin 43vmin $pink1,
      11vmin 43vmin $pink1,
      12vmin 43vmin $pink1,
      13vmin 43vmin $pink1,
      14vmin 43vmin $pink1,
      15vmin 43vmin $pink1,
      16vmin 43vmin $pink1,
      17vmin 43vmin $pink1,
      18vmin 43vmin $pink1,
      19vmin 43vmin $pink1,
      20vmin 43vmin $pink1,
      21vmin 43vmin $pink2,
      25vmin 43vmin $pink2,
      26vmin 43vmin $pink1,
      27vmin 43vmin $pink1,
      28vmin 43vmin $pink1,
      29vmin 43vmin $pink1,
      30vmin 43vmin $pink1,
      32vmin 43vmin $pink1,
      31vmin 43vmin $pink1,
      33vmin 43vmin $pink1,
      34vmin 43vmin $pink1,
      35vmin 43vmin $pink1,
      4vmin 44vmin $blue2,
      5vmin 44vmin $blue2,
      6vmin 44vmin $blue2,
      7vmin 44vmin $blue2,
      8vmin 44vmin $blue2,
      9vmin 44vmin $pink3,
      10vmin 44vmin $pink1,
      11vmin 44vmin $pink1,
      12vmin 44vmin $pink1,
      13vmin 44vmin $pink1,
      14vmin 44vmin $pink1,
      15vmin 44vmin $pink1,
      16vmin 44vmin $pink1,
      17vmin 44vmin $pink1,
      18vmin 44vmin $pink1,
      19vmin 44vmin $pink1,
      27vmin 44vmin $pink2,
      28vmin 44vmin $pink1,
      29vmin 44vmin $pink1,
      30vmin 44vmin $pink1,
      32vmin 44vmin $pink1,
      31vmin 44vmin $pink1,
      33vmin 44vmin $pink1,
      34vmin 44vmin $pink1,
      35vmin 44vmin $pink1,
      5vmin 45vmin $blue2,
      6vmin 45vmin $blue2,
      7vmin 45vmin $blue2,
      8vmin 45vmin $blue2,
      9vmin 45vmin $pink3,
      10vmin 45vmin $pink1,
      11vmin 45vmin $pink1,
      12vmin 45vmin $pink1,
      13vmin 45vmin $pink1,
      14vmin 45vmin $pink1,
      15vmin 45vmin $pink1,
      16vmin 45vmin $pink1,
      17vmin 45vmin $pink1,
      18vmin 45vmin $pink1,
      28vmin 45vmin $pink1,
      29vmin 45vmin $pink1,
      30vmin 45vmin $pink1,
      32vmin 45vmin $pink1,
      31vmin 45vmin $pink1,
      33vmin 45vmin $pink1,
      34vmin 45vmin $pink1,
      35vmin 45vmin $pink1,
      1vmin 46vmin $grey2,
      5vmin 46vmin $blue2,
      6vmin 46vmin $blue2,
      7vmin 46vmin $blue2,
      8vmin 46vmin $blue2,
      9vmin 46vmin $pink3,
      10vmin 46vmin $pink1,
      11vmin 46vmin $pink1,
      12vmin 46vmin $pink1,
      13vmin 46vmin $pink1,
      14vmin 46vmin $pink1,
      15vmin 46vmin $pink1,
      16vmin 46vmin $pink1,
      17vmin 46vmin $pink1,
      29vmin 46vmin $pink1,
      30vmin 46vmin $pink1,
      32vmin 46vmin $pink1,
      31vmin 46vmin $pink1,
      33vmin 46vmin $pink1,
      34vmin 46vmin $pink1,
      35vmin 46vmin $pink1,
      0vmin 47vmin $grey1,
      1vmin 47vmin $grey1,
      2vmin 47vmin $grey1,
      3vmin 47vmin $grey2,
      5vmin 47vmin $blue2,
      6vmin 47vmin $blue2,
      7vmin 47vmin $blue2,
      8vmin 47vmin $blue2,
      9vmin 47vmin $pink3,
      10vmin 47vmin $pink1,
      11vmin 47vmin $pink1,
      12vmin 47vmin $pink1,
      13vmin 47vmin $pink1,
      14vmin 47vmin $pink1,
      15vmin 47vmin $pink1,
      16vmin 47vmin $pink1,
      17vmin 47vmin $pink1,
      29vmin 47vmin $pink1,
      30vmin 47vmin $pink1,
      32vmin 47vmin $pink1,
      31vmin 47vmin $pink1,
      33vmin 47vmin $pink1,
      34vmin 47vmin $pink1,
      35vmin 47vmin $pink1,
      0vmin 48vmin $grey1,
      1vmin 48vmin $grey1,
      2vmin 48vmin $grey1,
      3vmin 48vmin $grey1,
      4vmin 48vmin $blue1,
      5vmin 48vmin $blue2,
      6vmin 48vmin $blue2,
      7vmin 48vmin $blue2,
      8vmin 48vmin $blue2,
      9vmin 48vmin $pink3,
      10vmin 48vmin $pink1,
      11vmin 48vmin $pink1,
      12vmin 48vmin $pink1,
      13vmin 48vmin $pink1,
      14vmin 48vmin $pink1,
      15vmin 48vmin $pink1,
      16vmin 48vmin $pink1,
      17vmin 48vmin $pink1,
      29vmin 48vmin $pink1,
      30vmin 48vmin $pink1,
      32vmin 48vmin $pink1,
      31vmin 48vmin $pink1,
      33vmin 48vmin $pink1,
      34vmin 48vmin $pink1,
      35vmin 48vmin $pink1,
      0vmin 49vmin $grey2,
      1vmin 49vmin $blue2,
      2vmin 49vmin $grey1,
      3vmin 49vmin $blue1,
      4vmin 49vmin $blue2,
      5vmin 49vmin $blue2,
      6vmin 49vmin $blue2,
      7vmin 49vmin $blue2,
      8vmin 49vmin $blue2,
      9vmin 49vmin $pink3,
      10vmin 49vmin $pink1,
      11vmin 49vmin $pink1,
      12vmin 49vmin $pink1,
      13vmin 49vmin $pink1,
      14vmin 49vmin $pink1,
      15vmin 49vmin $pink1,
      16vmin 49vmin $pink1,
      17vmin 49vmin $pink1,
      29vmin 49vmin $pink1,
      30vmin 49vmin $pink1,
      32vmin 49vmin $pink1,
      31vmin 49vmin $pink1,
      33vmin 49vmin $pink1,
      34vmin 49vmin $pink1,
      35vmin 49vmin $pink1,
      0vmin 50vmin $grey2,
      1vmin 50vmin $blue2,
      2vmin 50vmin $blue2,
      3vmin 50vmin $blue2,
      4vmin 50vmin $blue2,
      5vmin 50vmin $blue2,
      6vmin 50vmin $blue2,
      7vmin 50vmin $blue2,
      8vmin 50vmin $blue2,
      9vmin 50vmin $pink3,
      10vmin 50vmin $pink1,
      11vmin 50vmin $pink1,
      12vmin 50vmin $pink1,
      13vmin 50vmin $pink1,
      14vmin 50vmin $pink1,
      15vmin 50vmin $pink1,
      16vmin 50vmin $pink1,
      17vmin 50vmin $pink1,
      29vmin 50vmin $pink1,
      30vmin 50vmin $pink1,
      32vmin 50vmin $pink1,
      31vmin 50vmin $pink1,
      33vmin 50vmin $pink1,
      34vmin 50vmin $pink1,
      35vmin 50vmin $pink1,

      1vmin 51vmin $grey2, /* coloured part of legs start */
      2vmin 51vmin $blue2,
      3vmin 51vmin $blue2,
      4vmin 51vmin $blue2,
      5vmin 51vmin $blue2,
      6vmin 51vmin $blue2,
      7vmin 51vmin $blue2,
      8vmin 51vmin $blue2,
      9vmin 51vmin $grey2,
      10vmin 51vmin $white,
      11vmin 51vmin $white,
      12vmin 51vmin $white,
      13vmin 51vmin $white,
      14vmin 51vmin $white,
      15vmin 51vmin $white,
      16vmin 51vmin $white,
      17vmin 51vmin $white,
      29vmin 51vmin $white,
      30vmin 51vmin $white,
      32vmin 51vmin $white,
      31vmin 51vmin $white,
      33vmin 51vmin $white,
      34vmin 51vmin $white,
      35vmin 51vmin $white,
      1vmin 52vmin $grey2,
      2vmin 52vmin $blue2,
      3vmin 52vmin $blue2,
      4vmin 52vmin $blue2,
      5vmin 52vmin $blue2,
      6vmin 52vmin $blue2,
      7vmin 52vmin $blue2,
      8vmin 52vmin $grey2,
      10vmin 52vmin $white,
      11vmin 52vmin $white,
      12vmin 52vmin $white,
      13vmin 52vmin $white,
      14vmin 52vmin $white,
      15vmin 52vmin $white,
      16vmin 52vmin $white,
      17vmin 52vmin $white,
      29vmin 52vmin $white,
      30vmin 52vmin $white,
      32vmin 52vmin $white,
      31vmin 52vmin $white,
      33vmin 52vmin $white,
      34vmin 52vmin $white,
      35vmin 52vmin $white,
      2vmin 53vmin $grey1,
      3vmin 53vmin $blue2,
      4vmin 53vmin $blue2,
      5vmin 53vmin $blue2,
      6vmin 53vmin $blue2,
      7vmin 53vmin $grey2,
      10vmin 53vmin $white,
      11vmin 53vmin $white,
      12vmin 53vmin $white,
      13vmin 53vmin $white,
      14vmin 53vmin $white,
      15vmin 53vmin $white,
      16vmin 53vmin $white,
      17vmin 53vmin $white,
      29vmin 53vmin $white,
      30vmin 53vmin $white,
      32vmin 53vmin $white,
      31vmin 53vmin $white,
      33vmin 53vmin $white,
      34vmin 53vmin $white,
      35vmin 53vmin $white,
      3vmin 54vmin $grey1,
      4vmin 54vmin $grey1,
      5vmin 54vmin $grey1,
      6vmin 54vmin $grey1,
      10vmin 54vmin $white,
      11vmin 54vmin $white,
      12vmin 54vmin $white,
      13vmin 54vmin $white,
      14vmin 54vmin $white,
      15vmin 54vmin $white,
      16vmin 54vmin $white,
      17vmin 54vmin $white,
      29vmin 54vmin $white,
      30vmin 54vmin $white,
      32vmin 54vmin $white,
      31vmin 54vmin $white,
      33vmin 54vmin $white,
      34vmin 54vmin $white,
      35vmin 54vmin $white,
      10vmin 55vmin $yellow,
      11vmin 55vmin $yellow,
      12vmin 55vmin $yellow,
      13vmin 55vmin $yellow,
      14vmin 55vmin $yellow,
      15vmin 55vmin $yellow,
      16vmin 55vmin $yellow,
      17vmin 55vmin $yellow,
      29vmin 55vmin $moss,
      30vmin 55vmin $moss,
      32vmin 55vmin $moss,
      31vmin 55vmin $moss,
      33vmin 55vmin $moss,
      34vmin 55vmin $moss,
      35vmin 55vmin $moss,
      10vmin 56vmin $yellow,
      11vmin 56vmin $yellow,
      12vmin 56vmin $yellow,
      13vmin 56vmin $yellow,
      14vmin 56vmin $yellow,
      15vmin 56vmin $yellow,
      16vmin 56vmin $yellow,
      17vmin 56vmin $yellow,
      29vmin 56vmin $moss,
      30vmin 56vmin $moss,
      32vmin 56vmin $moss,
      31vmin 56vmin $moss,
      33vmin 56vmin $moss,
      34vmin 56vmin $moss,
      35vmin 56vmin $moss,
      10vmin 57vmin $yellow,
      11vmin 57vmin $yellow,
      12vmin 57vmin $yellow,
      13vmin 57vmin $yellow,
      14vmin 57vmin $yellow,
      15vmin 57vmin $yellow,
      16vmin 57vmin $yellow,
      17vmin 57vmin $yellow,
      29vmin 57vmin $moss,
      30vmin 57vmin $moss,
      32vmin 57vmin $moss,
      31vmin 57vmin $moss,
      33vmin 57vmin $moss,
      34vmin 57vmin $moss,
      35vmin 57vmin $moss,
      10vmin 58vmin $yellow,
      11vmin 58vmin $yellow,
      12vmin 58vmin $yellow,
      13vmin 58vmin $yellow,
      14vmin 58vmin $yellow,
      15vmin 58vmin $yellow,
      16vmin 58vmin $yellow,
      17vmin 58vmin $yellow,
      29vmin 58vmin $moss,
      30vmin 58vmin $moss,
      32vmin 58vmin $moss,
      31vmin 58vmin $moss,
      33vmin 58vmin $moss,
      34vmin 58vmin $moss,
      35vmin 58vmin $moss,
      ;
  }
}
