$blue1: #76b4db;
$blue2: #2e9fda;
$blue3: #488db5;
$pink1: #efa8ca;
$pink1: #d999b6;
$pink1: #e05da2;
$pink1: #b45383;
$grey1: #d5dde0;
$grey1: #bac2c9;
$green1: #c9d79a;
$green2: #b2bb7e;
$moss: #c1e1dc;
$yellow: #f4ed85;
$white: #fbfbfb;
$black: #2b2729;

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.unikitty {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d( -50%, -50%, 0 );
  width: 45vmin;
  height: 59vmin;
  background-color: lightyellow;

  &::before {
    content: '';
    display: block;
    width: 1vmin;
    height: 1vmin;
    box-shadow:
      32vmin 0vmin $blue1;
  }
}
